<a href="https://colab.research.google.com/github/Gopika938/python-class-2/blob/main/Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset into a Pandas DataFrame
data = pd.read_csv('heart_attack_russia_youth_vs_adult.csv')

In [2]:
# Store the number of rows and columns in variables
num_rows = data.shape[0]
num_cols = data.shape[1]

# Store the name of a specific column in a variable
age_column = 'age'

In [3]:
# Create a list to store the names of relevant columns
features = ['age', 'cholesterol', 'blood_pressure']

In [4]:
# Create a dictionary to store average values for age groups
age_group_averages = {}

In [7]:
# Calculate and store average cholesterol for two age groups
for age_group in ['youth', 'adult']:
    # Use age_group to filter data instead of age
    group_data = data[data['Age'] == age_group]
    # Access 'Cholesterol' with proper capitalization
    average_cholesterol = group_data['Cholesterol'].mean()
    # Assign average cholesterol to the age group key in the dictionary
    age_group_averages[age_group] = average_cholesterol

    # Check if cholesterol level is high using average_cholesterol
    if average_cholesterol > 200:
        print(f"cholesterol for {age_group} is high.")

In [15]:
def calculate_average(data, column_name, group_column, group_value):
    """
    Calculates the average value of a specified column
    for a specific group within the data.

    Args:
        data: Pandas DataFrame.
        column_name: Name of the column to calculate the average from.
        group_column: Name of the column containing group information.
        group_value: The specific group value to filter by.

    Returns:
        The average value of the column for the specified group.
    """
    # Changed 'age_group' to 'Age' to match the actual column name in the DataFrame
    group_data = data[data[group_column] == group_value]
    average_value = group_data[column_name].mean()
    return average_value

# Example usage:
# Changed 'age_group' to 'Age' and 'age' to 'Age' to match actual column names
average_age_youth = calculate_average(data, 'Age', 'Age', 'youth')
print(f"Average age for youth: {average_age_youth}")

Average age for youth: nan

In [16]:
import pandas as pd

# Load the dataset into a Pandas DataFrame
data = pd.read_csv('heart_attack_russia_youth_vs_adult.csv')

# Display the first few rows of the DataFrame
data.head()

# Get information about the DataFrame (data types, missing values, etc.)
data.info()

# Generate descriptive statistics for the numerical columns
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  int64
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Region                 50000 non-null  object
 4   Blood_Pressure         50000 non-null  float64
 5   Cholesterol            50000 non-null  float64
 6   BMI                    50000 non-null  float64
 7   Heart_Rate             50000 non-null  int64
 8   Exercise_Level         50000 non-null  object
 9   Smoking                50000 non-null  bool
 10  Alcohol_Consumption    24976 non-null  object
 11  Diabetes               50000 non-null  bool
 12  Family_History         50000 non-null  bool
 13  Stress_Level           50000 non-null  int64
 14  Heart_Attack           50000 non-null  bool
 15  Angina                 50000 non-null  bool
 16  Heart_Disease_History  50000 non-null  bool
 17  Diet                   50000 non-null  object
 18  Sleep_Hours            50000 non-null  float64
 19  Occupation             50000 non-null  object
 20  Income_Level           50000 non-null  object
 21  Physical_Activity      50000 non-null  object
 22  Education_Level        50000 non-null  object
 23  Marital_Status         50000 non-null  object
 24  Urban_Rural            50000 non-null  object
 25  Medication             50000 non-null  bool
 26  Health_Awareness       50000 non-null  int64
 27  Daily_Water_Intake     50000 non-null  float64
 28  Mental_Health          50000 non-null  int64
 29  Obesity                50000 non-null  bool
dtypes: bool(8), float64(5), int64(6), object(11)
memory usage: 8.8+ MB

,ID,Age,Blood_Pressure,Cholesterol,BMI,Heart_Rate,Stress_Level,Sleep_Hours,Health_Awareness,Daily_Water_Intake,Mental_Health
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000
mean,25000.500000,35.991820,120.058636,199.852762,24.983912,79.988980,5.503700,7.011464,3.007100,2.997782,5.48674
std,14433.901067,14.110139,14.975835,49.998331,5.003784,11.804567,2.870741,1.740651,1.410351,1.149608,2.86076
min,1.000000,12.000000,60.000000,-18.700000,2.900000,60.000000,1.000000,4.000000,1.000000,1.000000,1.00000
25%,12500.750000,24.000000,109.900000,166.100000,21.600000,70.000000,3.000000,5.500000,2.000000,2.000000,3.00000
50%,25000.500000,36.000000,120.050000,199.900000,25.000000,80.000000,6.000000,7.000000,3.000000,3.000000,5.00000
75%,37500.250000,48.000000,130.200000,233.500000,28.400000,90.000000,8.000000,8.500000,4.000000,4.000000,8.00000
max,50000.000000,60.000000,188.400000,398.800000,46.100000,100.000000,10.000000,10.000000,5.000000,5.000000,10.00000

In [18]:
# Replace missing values with the mean of the column (for numerical data)
# Changed 'cholesterol' to 'Cholesterol' to match the actual column name in the DataFrame
data['Cholesterol'].fillna(data['Cholesterol'].mean(), inplace=True)

# Or, drop rows with missing values
data.dropna(inplace=True)

<ipython-input-18-6441107ba43a>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Cholesterol'].fillna(data['Cholesterol'].mean(), inplace=True)